@subjectColor:#FF7020;
@subjectColorStart:#FC9E30;
@joinBuyStart:#ff8039;
@joinBuyEnd:#ff5b00;
@accessoryColor:#343434;
@accessoryText:#5a5a5a;
@bgcolor:#f6f6f6;
@moneyColor:#FF4242;
@originalrice:#999;
@salesColor:#333;
@superiorColor:#fff;
@detailsColor:#343434;
@borderBottomColor:#e8e8e8;

@shoppingRadius: 12rpx;
@marginBottomNum:16rpx;
@listPLR: 28rpx;
@inputH :99rpx;
@inputW:670rpx;
.commBodyColor{
    display: flex;
    flex-direction: column;
    background: @superiorColor;
}
.commBody{
  .commBodyColor;
  margin-bottom: @marginBottomNum;
  padding: 20rpx @listPLR;
}
